.auth-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin: 30px auto;

    .auth-form-container {
        display: flex;
        flex-direction: column;
        width: 380px;

        h2 {
            margin: 10px 0;
        }
        @media screen and (max-width: 800px) {
            align-items: center;
            width: 95vw;
        }
    }
    @media screen and (max-width: 800px) {
        align-items: center;
        display: grid;
        grid-row:span;
        grid-row-gap: 20px;
        width: unset;
    }
}